{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "OpenAPI client for {{npmName}}",
  "author": "OpenAPI-Generator",
  "license": "Apache-2.0",
  "repository": {
    "type": "git",
    "url": "https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}.git"
  },
  "main": "./src/index.ts",
  "devDependencies": {
    "typescript": "^4.0 || ^5.0"
  }
}
