#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
image:
  tag: {{ .Values.openworkflowVersion | quote }}
  pullPolicy: {{ .Values.imagePullPolicy }}
replicas: {{ dig "replicas" "definition" 1 .Values }}
database:
  url: {{ dig "database" "url" "jdbc:postgresql://postgresql:5432/openworkflow" .Values | quote }}
  username: {{ dig "database" "username" "openworkflow" .Values | quote }}
keycloak:
  issuer: {{ dig "keycloak" "issuer" "http://keycloak:8080/realms/openworkflow" .Values | quote }}
credentialsSecretName: {{ dig "credentialsSecretName" "openworkflow-foundation" .Values | quote }}
kafka:
  bootstrapServers: {{ dig "kafka" "bootstrapServers" "redpanda:9092" .Values | quote }}
networkPolicy:
  enabled: {{ dig "hardening" "networkPolicyEnabled" false .Values }}
  {{- with (dig "networkPolicy" "externalEgressCidr" "" .Values) }}
  extraEgress:
    - to: [{ipBlock: {cidr: {{ . | quote }}}}]
  {{- end }}
telemetry:
  otlpEndpoint: {{ dig "telemetry" "otlpEndpoint" "" .Values | quote }}
  injectJava: {{ dig "telemetry" "injectJava" false .Values }}
definitionResources:
  allowedHosts: {{ dig "definitionResources" "allowedHosts" "" .Values | quote }}
operations:
  httpEgressAllowlist: {{ dig "operations" "httpEgressAllowlist" "" .Values | quote }}
