#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
helmDefaults:
  wait: true
  waitForJobs: true
  timeout: 600
  atomic: true
  createNamespace: true

environments:
  local:
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/local.yaml
  development:
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/development.yaml
  ci:
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/ci.yaml
  kind:
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/kind.yaml
  production-postgresql:
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/production-postgresql.yaml.gotmpl
  production-cassandra:
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/production-cassandra.yaml.gotmpl

helmfiles:
  - path: helmfiles/foundation.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/migrations.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/security.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/definition-services.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/execution-services.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/execution-engines.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/operation-adapters.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/studios.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
  - path: helmfiles/acceptance-fixtures.yaml.gotmpl
    values:
      - environments/chart-versions.yaml
      - environments/image-versions.yaml
      - environments/base.yaml
      - environments/{{ .Environment.Name }}{{ if hasPrefix "production-" .Environment.Name }}.yaml.gotmpl{{ else }}.yaml{{ end }}
