#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
releases:
  - name: openworkflow-acceptance-fixtures
    namespace: {{ .Values.openworkflowNamespace }}
    chart: ../releases/openworkflow-acceptance-fixtures
    installed: {{ dig "acceptanceFixtures" "enabled" true .Values }}
    values:
      - images:
          nginx: {{ printf "%s:%s" .Values.imageVersions.nginx.repository .Values.imageVersions.nginx.tag | quote }}
          nginxUnprivileged: {{ printf "%s@%s" .Values.imageVersions.nginxUnprivileged.repository .Values.imageVersions.nginxUnprivileged.digest | quote }}
          grpcbin: {{ printf "%s@%s" .Values.imageVersions.grpcbin.repository .Values.imageVersions.grpcbin.digest | quote }}
          nats: {{ printf "%s@%s" .Values.imageVersions.nats.repository .Values.imageVersions.nats.digest | quote }}
    labels:
      stage: acceptance
      checkpoint: K6
