#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
releases:
  - name: openworkflow-k2-security
    namespace: {{ .Values.openworkflowNamespace }}
    chart: ../releases/openworkflow-k2-security
    installed: {{ dig "securityBootstrap" "enabled" true .Values }}
    values:
      - keycloak:
          url: {{ dig "keycloak" "url" "http://keycloak:8080" .Values | quote }}
        credentialsSecretName: {{ dig "credentialsSecretName" "openworkflow-foundation" .Values | quote }}
        image:
          repository: {{ .Values.imageVersions.alpine.repository | quote }}
          tag: {{ .Values.imageVersions.alpine.tag | quote }}
          digest: {{ .Values.imageVersions.alpine.digest | quote }}
    labels:
      stage: definitions
      checkpoint: k2
      component: security
{{- range $framework := list "quarkus" "spring" "micronaut" }}
  - name: openworkflow-definition-{{ $framework }}
    namespace: {{ $.Values.openworkflowNamespace }}
    chart: ../releases/openworkflow-definition-service
    {{- if dig "securityBootstrap" "enabled" true $.Values }}
    needs:
      - {{ $.Values.openworkflowNamespace }}/openworkflow-k2-security
    {{- end }}
    values:
      - ../releases/openworkflow-definition-service/base.yaml.gotmpl
      - framework: {{ $framework }}
        image:
          repository: {{ index $.Values.imageVersions.definition.repositories $framework | quote }}
          tag: {{ $.Values.imageVersions.definition.tag | quote }}
          digest: {{ index $.Values.imageVersions.definition.digests $framework | quote }}
          pullPolicy: {{ $.Values.imagePullPolicy }}
    labels:
      stage: definitions
      checkpoint: K3B
      framework: {{ $framework }}
{{- end }}
