deploymentProfile: production-postgresql
openworkflowVersion: {{ requiredEnv "OPENWORKFLOW_VERSION" | quote }}
studioVersion: {{ requiredEnv "OPENWORKFLOW_VERSION" | quote }}
imagePullPolicy: Always
ingressEnabled: true
credentialsSecretName: {{ requiredEnv "OPENWORKFLOW_CREDENTIALS_SECRET" | quote }}
foundation: {enabled: false}
securityBootstrap: {enabled: false}
acceptanceFixtures: {enabled: false}
replicas: {definition: 2, runtime: 3, studio: 2}
engines:
  pekkoPostgresql: true
  pekkoCassandra: false
  kafkaStreams: true
hardening:
  networkPolicyEnabled: true
networkPolicy:
  externalEgressCidr: {{ requiredEnv "OPENWORKFLOW_EXTERNAL_EGRESS_CIDR" | quote }}
telemetry:
  otlpEndpoint: {{ requiredEnv "OPENWORKFLOW_OTLP_ENDPOINT" | quote }}
  injectJava: true
database:
  url: {{ requiredEnv "OPENWORKFLOW_DATABASE_URL" | quote }}
  username: {{ requiredEnv "OPENWORKFLOW_DATABASE_USERNAME" | quote }}
keycloak:
  url: {{ requiredEnv "OPENWORKFLOW_KEYCLOAK_URL" | quote }}
  issuer: {{ requiredEnv "OPENWORKFLOW_KEYCLOAK_ISSUER" | quote }}
kafka:
  bootstrapServers: {{ requiredEnv "OPENWORKFLOW_KAFKA_BOOTSTRAP_SERVERS" | quote }}
pekko:
  postgresqlEndpoint: {{ requiredEnv "OPENWORKFLOW_PEKKO_POSTGRESQL_ENDPOINT" | quote }}
operations:
  httpEgressAllowlist: {{ requiredEnv "OPENWORKFLOW_HTTP_EGRESS_ALLOWLIST" | quote }}
definitionResources:
  allowedHosts: {{ requiredEnv "OPENWORKFLOW_DEFINITION_RESOURCE_ALLOWED_HOSTS" | quote }}
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
